langchain
langchain-core
langchain-community
langchain-mistralai
langchain-huggingface
langchain-groq
langchain-text-splitters
chromadb
fastapi
uvicorn
pymongo

mistralai

sentence-transformers
faiss-cpu

pypdf
python-dotenv

streamlit